//阅读电子书界面

$barHeight: 3rem;
$raduisWidth: 0.651rem;
$transition: .45s ease-in-out;
$themeColor: #9b62f5;
$fontSize: 1.5rem;
$pagePadding: 1.071rem;
$themeGreyColor: #8d8a8a;
@mixin bookBar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $barHeight;
  background-color: rgba(255, 255, 255, .9);
  box-shadow: 0 0 0.600rem 0.069rem #c9c9c9;
  border-radius: 0.651rem;
  z-index: 999;
  opacity: 0;
  transition: opacity $transition, bottom $transition, top $transition;
}

@mixin bookFontSizeAnimation {
  transition: left $transition,transform $transition,visibility $transition,opacity $transition ;
}

@mixin bookFontProgressAnimation {
  transition: opacity $transition,scale $transition,visibility $transition;
}

@mixin clickActiveAnimation {
  scale: 1;
  &:active {
    scale: .85;
    filter: contrast(160%);
  }
  transition: scale .1s ease-in-out;
}

@mixin disabledStyle {
  cursor: not-allowed;
  opacity: 0.5 !important;
  pointer-events: none;
  transition: opacity $transition;
}

@mixin displayOneLine {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin displayMultiline($lines: 2) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
}


